<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
<body style="background-color:darkolivegreen;">
            <form action="searchdata" method="GET">
            Enter book name  :
            <input type="text" name="name">
            <button type="submit">Search</button>
        </form>
    
    <title>Find</title>
</head>

    
    

</body>
</html>